
    <tbody>
        <tr>
          <td>
            <div class="column">
                <img src="../../assets/img.png" alt="">
                <div>
                    <h3>Бинафша Шоҳ Нўхати</h3>
                    <p><span>Сотувчи:</span> Ташкент АгроФерма</p>
                    <p><span>Олиб кетиш:</span>15, Бектемирский район, массив Олима Оширова, Ташкент, Узбекистан</p>
                </div>
            </div>
          </td>
          <td>10 199 </td>
          <td>килограмм</td>
          <td>
            <div class="buttons">
                <button class="prev" nz-button nzType="default" nzShape="circle">-</button>
                <span>1</span>
                <button class="next" nz-button nzType="default" nzShape="circle">+</button>
            </div>
          </td>
          <td>10 199 сум</td>
        </tr>
    </tbody>