<div class="texcards container">
    <nz-breadcrumb class="breadcrumb">
        <nz-breadcrumb-item>
          <a [routerLink]="['../../']">Асосий саҳифа</a>
        </nz-breadcrumb-item>
        <nz-breadcrumb-item>Агротехкарталар</nz-breadcrumb-item>
    </nz-breadcrumb>

    <div class="cards">
        <div nz-row [nzGutter]="16">
            <div nz-col class="gutter-row" [nzXl]="6" [nzLg]="8" [nzMd]="12" [nzSm]="12">
                <div class="inner-box">
                    <img src="../../assets/texcards/a2737-clip-497kb 1.png" alt="">
                    <div class="text">
                        <h1>Фермер хўжаликлари рахбар ва ишчи ҳодимлари ўқув курси</h1>
                        <p>Муҳтарам Президентимиз томонидан қишлоқ хўжалигини илмий асосда йўлга қўйиш</p>
                        <a href="#">Батафсил</a>
                    </div>
                </div>
            </div>

            <div nz-col class="gutter-row" [nzXl]="6" [nzLg]="8" [nzMd]="12" [nzSm]="12">
                <div class="inner-box">
                    <img src="../../assets/texcards/a2737-clip-497kb 1.png" alt="">
                    <div class="text">
                        <h1>Агробанк ёшлари "Яшил макон" умуммиллий лойиҳасида </h1>
                        <p>Екологик муҳитни янада яхшилаш, инсонлар саломатлигини асраш ва "Яшил макон" умуммиллий</p>
                        <a href="#">Батафсил</a>
                    </div>
                </div>
            </div>

            <div nz-col class="gutter-row" [nzXl]="6" [nzLg]="8" [nzMd]="12" [nzSm]="12">
                <div class="inner-box">
                    <img src="../../assets/texcards/a2737-clip-497kb 1.png" alt="">
                    <div class="text">
                        <h1>Мухим битимлар имзоланди</h1>
                        <p>Пойтахтимизнинг "Hilton Tashkent Cитй" меҳмонхонасида жорий йилнинг 26-27 ноябр кунлари Мдҳга аъзо</p>
                        <a href="#">Батафсил</a>
                    </div>
                </div>
            </div>
            
            <div nz-col class="gutter-row" [nzXl]="6" [nzLg]="8" [nzMd]="12" [nzSm]="12">
                <div class="inner-box">
                    <img src="../../assets/texcards/a2737-clip-497kb 1.png" alt="">
                    <div class="text">
                        <h1>Банкоматларда техник ишлар олиб борилмоқда!</h1>
                        <p>Банкоматларда техник ишлар олиб борилмоқда! Банкоматларда техник ишлар олиб борилмоқда!
                            Банкоматларда техник ишлар олиб борилмоқда! Банкоматларда техник ишлар олиб борилмоқда!
                        </p>
                        <a href="#">Батафсил</a>
                    </div>
                </div>
            </div>

    
               
               

            
        </div>
    </div>

    <div class="pagination">
        <nz-pagination [nzPageIndex]="1" [nzTotal]="50"></nz-pagination>
    </div>

    
</div>